body {
    background-color: #e4f5f6;
    font-family: 'Helvetica', sans-serif;
    color: #000080
}

h1, h2 {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    
}

h2 {
    margin-top: -20px;
  
    
}

p {
    margin: 0 0 20px 20px;
    padding: 10;
}

.home-container {
    width: 500px;
    display: block;
    margin: 0 auto;
}


.links {
     padding-bottom: 10px;

}

li {
    margin: 0 0 20px 20px;
    padding: 10;
}

img {
    width: 300px auto;
    margin: 0 0 0 10px;
    border: 2px solid lightgrey;  
}

.ingredients, .instructions {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.home-link {
    width: 800px;
    background-color: #8edaff;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    display: block;
    text-decoration: none;
}

.recipe-container {
    width: auto;
    margin: 20px 100px;
    padding-bottom: 10;
    background-color: #8edaff;
    border: 2px solid lightgrey;   
}

 a.home-link span{
    background-color: #d34330;
    color: white;
    padding: 10px;
    
 }