body {
    background-color: #e4f5f6;
    font-family: 'Helvetica', sans-serif;
    color: #412152;
}

h1, h2 {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

h2 {
    margin-top: -20px;
}

p {
    margin: 0 0 20px 20px;
    padding: 10px; 
}

li {
    padding: 10px;
    margin: 0 0 10px 5px;
}

img {
    width: 300px auto;
    margin: 0 0 0 10px;
    border: 2px solid #d34330;  
}

.ingredients, .instructions {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.home-link {
    background-color: #8edaff;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    display: block;
    text-decoration: none;
}

.container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 100px;
    padding-bottom: 10;
    background-color: #8edaff;
    border: 2px solid #ec9589;   
}

a {
    text-decoration: none;
    color: white;
    /* background-color: #ff8400; */
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-content > * {
 
    /* border: 2px solid #d34330; */

}



a.home-link {
    background-color: #ff8400;
    color: white;
    padding: 10px;
}


.recipe-links {
    list-style-type: none;
    /* border: #412152 2px solid; */
    gap: 1rem;
    color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 1; */

    
}

.recipe-links li {
    /* border: #412152 2px solid; */
    background-color: #ff8400;
    width: max-content;
    flex: 1;
    text-align: center;
    

}

